<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="2440" mode="InProc" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="FP-FBD-94" connectionString="Data Source=Ltpl-072;Initial Catalog=FPFBD94;User ID=sa;Password=Cipla@123"
      providerName="System.Data.SqlClient" />
    <add name="FP-FBD-120" connectionString="Data Source=ltpl-141;Initial Catalog=FPFBD120;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FP-VD-249" connectionString="Data Source=ltpl-141;Initial Catalog=FPVD249;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FP-VD-299" connectionString="Data Source=ltpl-141;Initial Catalog=FPRCVD299;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FP-RCVD-300" connectionString="Data Source=ltpl-141;Initial Catalog=FPRCVD300;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FP-RCVD-301" connectionString="Data Source=ltpl-141;Initial Catalog=FPRCVD301;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FP-RCVD-302" connectionString="Data Source=ltpl-141;Initial Catalog=FPRCVD302;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FP-RCVD-95" connectionString="Data Source=ltpl-141;Initial Catalog=FPRCVD95;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FP_HUMIDIFIER" connectionString="Data Source=ltpl-141;Initial Catalog=FP_HUMIDIFIER;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="AUDIT" connectionString="Data Source=ltpl-141;Initial Catalog=AUDIT;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    <add name="FTAE" connectionString="Data Source=ltpl-141;Initial Catalog=FTAE;User ID=sa;Password=Cipla@123" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <system.web>
    <customErrors mode="Off">
      <!--<error statusCode="404" redirect="~/Presentation/Errorcode.aspx" />
      <error statusCode="400" redirect="~/Presentation/Error400.aspx" />-->
    </customErrors>
  </system.web>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: bee983b5-19fa-4044-a0d3-e2cbc63e5497-->